<div class="history-filter">
    <div class="row">
        <div class="col-sm-12 title">Filter</div>
    </div>
   <div class="row fields-container">
      <div class="col-sm-3">
         <input type="text" class="form-control" placeholder="Service Provider">
      </div>
       <div class="col-sm-3">
           <input type="text" class="form-control" placeholder="Application">
       </div>
       <div class="col-sm-3">
           <input type="text" class="form-control" placeholder="Operator">
       </div>
       <div class="col-sm-3">
           <input type="text" class="form-control" placeholder="Status">
       </div>
   </div>
</div>
