<div class="row">
    <app-approval-count class="col-sm-4 apps"
                        [totalCount]="appDetailsSummery?.totalAppCreations"
                        [myCount]="appDetailsSummery?.appCreationsForUser"
                        [groupCount]="appDetailsSummery?.appCreationsForGroup"
                        iconClass="apps"
                        name="Application Creations"
                        (click)="onCountClick('APPLICATIONS')"
                        *appHasPermissions="showPendingApps"></app-approval-count>

    <app-approval-count class="col-sm-4 subs"
                        [totalCount]="appDetailsSummery?.totalSubCreations"
                        [myCount]="appDetailsSummery?.subCreationsForUser"
                        [groupCount]="appDetailsSummery?.subCreationsForGroup"
                        iconClass="subscriptions"
                        name="Subscription Creations"
                        (click)="onCountClick('SUBSCRIPTIONS')"
                        *appHasPermissions="showPendingSubs"></app-approval-count>
    <!--
      <app-approval-whitelist-blacklist class="col-sm-3 whitelist"
                          iconClass="phonelink_ring"
                          name="Total Whitelist Numbers"
                          ></app-approval-whitelist-blacklist>

      <app-approval-whitelist-blacklist class="col-sm-3 blacklist"
                          iconClass="phonelink_erase"
                          name="Total Blacklist Numbers"
                          ></app-approval-whitelist-blacklist>
                          -->
</div>
