<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Session Expired</h4>
            </div>
            <div class="modal-body">
                <p>15 minutes of inactivity. Please sign in again</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="" (click)="doLogout()">Sign In</a>
            </div>
        </div>
    </div>
</div>