<ul [ngClass]="{'is-expand':isExpand}">
    <ng-container *ngFor="let menu of menuSource">
        <li *appHasPermissions="menu.pattern" (click)="onClick(menu)" [ngClass]="{'selected':menu.id==selectedMenu?.id}" class="{{menu.position}}">
            <span *ngIf="!isExpand" tooltip="{{menu.name}}" placement="right">
                <span class="icon material-icons">{{menu.iconName}}</span>
            </span>
            <span class="menu-name animated fadeIn" *ngIf="isExpand">
                <span class="icon material-icons">{{menu.iconName}}</span>{{menu.name}}</span>
        </li>
    </ng-container>
</ul>
<!-- <ul *ngIf="isAdmin && !isBilling" [ngClass]="{'is-expand':isExpand}">
    <li *ngFor="let menu of menuSourceIfAdminBillingDissable"
        (click)="onClick(menu)"
        [ngClass]="{'selected':menu.id==selectedMenu?.id}" class="{{menu.position}}"><span *ngIf="!isExpand"
                                                                                           tooltip="{{menu.name}}"
                                                                                           placement="right"><span
            class="icon material-icons">{{menu.iconName}}</span></span>
        <span class="menu-name animated fadeIn" *ngIf="isExpand"><span
                class="icon material-icons">{{menu.iconName}}</span>{{menu.name}}</span>
    </li>
</ul>
<ul *ngIf="!isAdmin && isBilling" [ngClass]="{'is-expand':isExpand}">
    <li *ngFor="let menu of menuSourceIfOp"
        (click)="onClick(menu)"
        [ngClass]="{'selected':menu.id==selectedMenu?.id}" class="{{menu.position}}">
        <span *ngIf="!isExpand" tooltip="{{menu.name}}" placement="right">
            <span class="icon material-icons">{{menu.iconName}}</span></span>
        <span class="menu-name animated fadeIn" *ngIf="isExpand"><span
                class="icon material-icons">{{menu.iconName}}</span>{{menu.name}}</span>
    </li>
</ul>
<ul *ngIf="!isAdmin && !isBilling" [ngClass]="{'is-expand':isExpand}">
    <li *ngFor="let menu of menuSourceIfOpBillingDissable"
        (click)="onClick(menu)"
        [ngClass]="{'selected':menu.id==selectedMenu?.id}" class="{{menu.position}}">
        <span *ngIf="!isExpand" tooltip="{{menu.name}}" placement="right">
            <span class="icon material-icons">{{menu.iconName}}</span></span>
        <span class="menu-name animated fadeIn" *ngIf="isExpand"><span
                class="icon material-icons">{{menu.iconName}}</span>{{menu.name}}</span>
    </li>
</ul> -->