<div class="animated fadeInUp" style="animation-delay: 0.1s">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-container tariffContainer">
                <!-- <form #addTariffForm="ngForm" class="form-horizontal" ngNoForm (ngSubmit)="onSubmit(addTariffForm)" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Tariff Name <span>*</span></label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="text"
                                           autocomplete="off"
                                           placeholder="Name"
                                           name="name"
                                           #nameRef="ngModel"
                                           required
                                           [(ngModel)]="tariff.tariffName"
                                           (input)="isNameUnique($event.target.value)">
                                    <span class="error" *ngIf="isNameError">{{nameError}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Tariff Description <span>*</span></label>
                                <div class="col-sm-6">
                            <textarea rows="1" cols="50"
                                      class="form-control"
                                      type="text"
                                      autocomplete="off"
                                      placeholder="Description"
                                      name="description"
                                      #descriptionRef="ngModel"
                                      required
                                      [(ngModel)]="tariff.tariffDescription"
                                      (input)="descriptionInvalid($event.target.value)">
                            </textarea>
                                    <span class="error" *ngIf="isDescriptionError">{{descriptionError}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Default Value</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="Default Value"
                                           name="tariffDefaultVal"
                                           #tariffDefaultValRef="ngModel"
                                           required
                                           [(ngModel)]="tariff.tariffDefaultVal">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Max Count</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="Max Count"
                                           name="maxCount"
                                           #maxCountRef="ngModel"
                                           required
                                           (ngModelChange)="tariffmaxcountchange($event)"
                                           (onchange)="tariffmaxcountchange($event)"
                                           [(ngModel)]="tariff.tariffMaxCount">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Excess Rate</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="Excess Rate"
                                           name="excessRate"
                                           #excessRateRef="ngModel"
                                           required
                                           (ngModelChange)="tariffExcessRatechange($event)"
                                           (onchange)="tariffExcessRatechange($event)"
                                           [(ngModel)]="tariff.tariffExcessRate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Def Rate</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="Def Rate"
                                           name="defRate"
                                           #defRateRef="ngModel"
                                           required
                                           (ngModelChange)="tariffDefRatechange($event)"
                                           (onchange)="tariffDefRatechange($event)"
                                           [(ngModel)]="tariff.tariffDefRate">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">SP Commission</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="SP Commission"
                                           name="spCommission"
                                           #spCommissionRef="ngModel"
                                           required
                                           [ngModel]="tariff.tariffSPCommission"
                                           (ngModelChange)="tariffSPCommission($event)"
                                           (onchange)="tariffSPCommission($event)" >

                                    <span class="error" *ngIf="IsInvalidspCommission">Range should between 0 - 100</span>
                                    <span class="error" *ngIf="IsInvalidMinusSpCommission">Range should between -100 to 0</span>
                                    <span class="error" *ngIf="IsExceedCommision">Total Commision cannot exceed 100  </span>
                                    <span class="error" *ngIf="IsMinusExceedCommision">Total Commision cannot exceed -100  </span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-4">Ads Commission</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="Ads Commission"
                                           name="adsCommission"
                                           #adsCommissionRef="ngModel"
                                           required
                                           [ngModel]="tariff.tariffAdsCommission"
                                           (ngModelChange)="tariffAdsCommission($event)">
                                    <span class="error" *ngIf="IsInvalidadsCommission">Range should between 0 - 100</span>
                                    <span class="error" *ngIf="IsInvalidMinusAdsCommission">Range should between -100 to 0</span>
                                    <span class="error" *ngIf="IsExceedCommision">Total Commision cannot exceed 100  </span>
                                    <span class="error" *ngIf="IsMinusExceedCommision">Total Commision cannot exceed -100  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Opco Commission</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="Opco Commission"
                                           name="opcoCommission"
                                           #opcoCommissionRef="ngModel"
                                           required
                                           [ngModel]="tariff.tariffOpcoCommission"
                                           (ngModelChange)="tariffOpcoCommission($event)"
                                           (onchange)="tariffOpcoCommission($event)">
                                    <span class="error" *ngIf="IsInvalidopcoCommission">Range should between 0 - 100</span>
                                    <span class="error" *ngIf="IsInvalidMinusOpcoCommission">Range should between -100 to 0</span>
                                    <span class="error" *ngIf="IsExceedCommision">Total Commision cannot exceed 100  </span>
                                    <span class="error" *ngIf="IsMinusExceedCommision">Total Commision cannot exceed -100  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Sur Charge Value</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="Sur Charge Value"
                                           name="surChargeval"
                                           [disabled]="isDisabled"
                                           #surChargevalRef="ngModel"
                                           required
                                           [ngModel]="tariff.tariffSurChargeval"
                                           (ngModelChange)="surChargeValue($event)">
                                    <span class="error" *ngIf="IsEmptySurchargeval">Required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Sur Charge Ads</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="Sur Charge Ads"
                                           name="surChargeAds"
                                           [disabled]="isDisabled"
                                           #surChargeAdsRef="ngModel"
                                           required
                                           [ngModel]="tariff.tariffSurChargeAds"
                                           (ngModelChange)="tariffSurChargeAds($event)">
                                    <span class="error" *ngIf="IsInvalidtariffSurChargeAds">Range should between 0 - 100</span>
                                    <span class="error" *ngIf="IsEmptySurchargeAddOpco">Required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Sur Charge Opco</label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           min="0"
                                           step="1"
                                           autocomplete="off"
                                           placeholder="Sur Charge Opco"
                                           name="surChargeOpco"
                                           [disabled]="isDisabled"
                                           #surChargeOpcoRef="ngModel"
                                           required
                                           [ngModel]="tariff.tariffSurChargeOpco"
                                           (ngModelChange)="tariffSurChargeOpco($event)">
                                    <span class="error" *ngIf="IsInvalidtariffSurChargeOpco">Range should between 0 - 100 </span>
                                    <span class="error" *ngIf="IsEmptySurchargeAddOpco">Required</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="!isNameError">
                        <div class="col-sm-offset-2 col-sm-1">
                            <button type="submit" class="btn btn-primary animated fadeIn">Add</button>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-warning" (click)="clearForm()" >Clear</a>
                        </div>
                        <span class="error" *ngIf="InValidCommisionTotal">Total of SP,Ads,Opco Commission should be 100 or -100</span>
                    </div>

                </form> -->
            </div>
        </div>
    </div>
</div>