<div class="animated fadeInUp" style="animation-delay: 0.3s">

  <div class="row">
    <div class="col-lg-6">
      <app-approval-summery [appDetailsSummery]="dashboardData"></app-approval-summery>
    </div>
    <div class="col-lg-6">
      <app-approval-history-graph></app-approval-history-graph>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <application-data-table
              class="my"
              tableTitle="MY APPLICATIONS"
              [dataSource]="myApplications"></application-data-table>
    </div>

    <div class="col-md-6">
      <application-data-table
              class="my"
              tableTitle="MY SUBSCRIPTIONS"
              [dataSource]="myAppSubscriptionTask"></application-data-table>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <application-data-table
              tableTitle="All APPLICATIONS"
              [dataSource]="allApplications"></application-data-table>
    </div>

    <div class="col-md-6">
      <application-data-table
              tableTitle="All SUBSCRIPTIONS"
              [dataSource]="allSubscriptions"></application-data-table>
    </div>
  </div>


</div>

