<div class="animated fadeInUp row" style="animation-delay: 0.1s">
    <div class="col-sm-12">
        <div class="form-container quotaInputContainer">
            <div class="tbl-header">
                <h3>SPwise Blacklist</h3>
                <br>
            </div>
            <div class="searchFilter">
                <h4 class="control-label col-sm-2">Service Providers:</h4>
                <div class="col-sm-4">
                    <input type="text" class="form-control"
                           [(ngModel)]="sp"
                           [typeaheadMinLength]="0"
                           container="body"
                           [typeahead]="spList"
                           typeaheadOptionField="spId"
                           (typeaheadOnSelect)="onApiSelected($event)"
                           placeholder="Select a Service provider"
                    >
                </div>
                <div class="col-sm-4"><h4>BlackListed SP count : &nbsp; <span
                        class="label label-info">{{ count }}</span>
                </h4>
                </div>

            </div>

            <br><br>

        </div>
    </div>
</div>