.idea
.settings
/dist/
/ui/node_modules/
/ui/npm-debug.log
ui/npm-debug.log
/ui/server
.vscode
/target
manage-service.iml
manage-service-parent.iml
component/WebContent/public
component/ui/node_modules
com.wso2telco.dep.manage-service.feature/target/
com.wso2telco.dep.manage-service.feature/com.wso2telco.dep.manage-service.feature.iml
com.wso2telco.dep.manage-service.feature/src/main/resources/generated
component/manage-service/src/main/webapp/public
