<div class="animated fadeInUp row">
    <div class="col-sm-6">
        <application-data-table
                class="my"
                [recordsType]="{dataCategory:'USER',dataType:'APPLICATION'}"
                tableTitle="MY APPLICATIONS"
                [dataSource]="myApplications"
                (onApproveRejectTask)="onApproveRejectHandler($event)"
                (onFilterChange)="onFilterChangeHandler($event)"></application-data-table>
    </div>
    <div class="col-sm-6">
        <application-data-table
                class="group"
                [recordsType]="{dataCategory:'GROUP',dataType:'APPLICATION'}"
                tableTitle="All APPLICATIONS"
                [dataSource]="allApplications"
                (onAssignTask)="onAssignTaskHandler($event)"
                (onFilterChange)="onFilterChangeHandler($event)"></application-data-table>
    </div>
</div>

