<!--span class="filter" tooltip="Filter"><i class="material-icons">arrow drop down circle</i></span-->
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">op modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-subcategory></app-subcategory>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeInUp row">

    <div class="col-sm-12">
        <div class="rateInputContainer">
            <!--Form Container - START-->
            <div class="form-container rateInputContainer">
                <div class="tbl-header">
                    <h3>Create New Rate Card </h3>
                    <button type="button" class="btn btn-primary" (click)="staticModal.show()">test modal</button>
                </div>


                <form class="form-horizontal" #ratecardForm="ngForm" novalidate (ngSubmit)="onRateCardSubmit(ratecardForm)">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Rate Name:</label>
                        <div class="col-sm-4">
                            <input class="form-control"
                                   type="text"
                                   autocomplete="off"
                                   placeholder="Name"
                                   name="name"
                                   #nameRef="ngModel"
                                   required
                                   [(ngModel)]="name">
                            <span class="error" *ngIf="isNameEmpty">Name can not be empty</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Rate Description</label>
                        <div class="col-sm-4">
                            <textarea rows="4" cols="50" class="form-control"
                                      type="text"
                                      autocomplete="off"
                                      placeholder="Description"
                                      name="description"
                                      #descriptionRef="ngModel"
                                      required
                                      [(ngModel)]="description">
                            </textarea>
                            <span class="error" *ngIf="isDescriptionEmpty">Description can not be empty</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Create Date</label>
                        <div class="col-sm-4">
                            <input class="form-control"
                                   type="date"
                                   autocomplete="off"
                                   placeholder="Date"
                                   name="date"
                                   #codeRef="ngModel"
                                   required
                                   [(ngModel)]="date">
                            <span class="error" *ngIf="isDateEmpty">Date can not be empty</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Currency:</label>
                        <div class="col-sm-4">
                            <select class="form-control"
                                    type="text"
                                    autocomplete="off"
                                    placeholder="Currency"
                                    name="currency"
                                    #currencyRef="ngModel"
                                    required
                                    [(ngModel)]="currency">
                                <option>LKR</option>
                                <option>USD</option>
                                <option>INR</option>
                                <option>JPY</option>
                                <option>UKP</option>
                            </select>
                            <span class="error" *ngIf="isCurrencyEmpty">Currency can not be empty</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Rate Type:</label>
                        <div class="col-sm-4">
                            <select class="form-control"
                                    type="text"
                                    autocomplete="off"
                                    placeholder="Rate Type"
                                    name="rateType"
                                    #rateTypeRef="ngModel"
                                    required
                                    [(ngModel)]="rateType">
                                <option>percentage</option>
                                <option>quota</option>
                                <option>constant</option>
                            </select>
                            <span class="error" *ngIf="isRateTypeEmpty">Rate Type can not be empty</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Tariff:</label>
                        <div class="col-sm-4">
                            <select class="form-control"
                                    type="text"
                                    autocomplete="off"
                                    placeholder="Tariff"
                                    name="tariff"
                                    #tariffRef="ngModel"
                                    required
                                    [(ngModel)]="tariff">
                                <option>cat35</option>
                                <option>cat36</option>
                                <option>cat38</option>
                            </select>
                            <span class="error" *ngIf="isTariffEmpty">Tariff can not be empty</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Add Sub Category:</label>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input"
                                           (click)="(isSubcategory)?isSubcategory=false:isSubcategory=true">
                                </label>
                            </div>
                        </div>
                    </div>
                    <app-subcategory *ngIf="isSubcategory"></app-subcategory>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>

            </div>


            <form #currencyForm="ngForm" novalidate (ngSubmit)="onSubmit(currencyForm)">

                <div class="form-group">
                    <label class="control-label col-sm-3">Currency code:</label>

                    <input (input)="isCountryCode($event.target.value)"
                           [(ngModel)]="currencycode" name="currencycode" #inputc type="text" required="true">

                </div>

                <div *ngIf="isValidCurrency">Not a Valid Currency Type</div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Currency desc:</label>
                    <input [(ngModel)]="currencydesc" name="currencydesc">
                </div>

                <div class="form-group" *ngIf="!isValidCurrency">
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>