:host {
  display: block;
  margin-top: 20px;
}

.content-div {
  background-color: #ffffff;
}

.searchFilter {
  div[class^="col-"] {
    padding-bottom: 10px;
  }
}

.tbl-header {
  color: #E19131;
}

.addbtn {

}

.error {
  font-size: 0.9em;
  color: #f96565;
}

.whitelistInputContainer {
  min-height: 100px;
  padding: 10px;
  background-color: white;
  border: solid 1px whitesmoke;
}

.tbl-header {
  color: #E19131;
}

.searchFilter {
  min-height: 78px;
  padding: 19px;
  margin-bottom: 20px;
  background-color:var(--accent-color);
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.open {
  overflow: visible;
  z-index: 100000;
}

.subtitle {
  color: #E19132;
}

.info-tooltip {
  font-size: 1.5em;
  color: #8E44AD;
  vertical-align: top;
  margin-top: 0.3em;
  cursor: pointer;
}

.tbl-header {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.3em;
  padding: 5px 0px 15px;
  color: #E19131;
  text-transform: uppercase;
}


