@import "../../../styles/colors";
@import "../../../styles/mixing";

:host{
    display: block;
    margin-top: 20px;
  }

  .action {
    width: 25px;
    height: 25px;
    border: solid 1px #c7c7c7;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    margin: 2px 5px;
    cursor: pointer;
    color: $gray;
    font-size: 1em;

    @include transition(all 0.2s ease-in);

    &:hover {
      background-color: $secondary_color;
      color: black;
    }
}