<div class="animated fadeInUp row" style="animation-delay: 0.1s">
    <div class="col-md-12">
        <div class="form-container quotaInputContainer">
            <div class="tbl-header">
                APIwise Blacklist
                <br>
            </div>
            <div class="searchFilter row">
                <h4 class="control-label col-md-1">API :</h4>
                <div class="col-md-4">
                    <input type="text" class="form-control" [(ngModel)]="api" [typeaheadMinLength]="0" container="body" [typeahead]="apiList" (typeaheadOnSelect)="onApiSelected()" placeholder="Select the API">
                </div>
                <div class="col-md-4">
                    <h4>BlackListed subscribers count : &nbsp; <span class="label label-info">{{ count }}</span>
                    </h4>
                </div>

            </div>

            <br><br>
            <form class="form-horizontal" #numberlistForm="ngForm" novalidate (ngSubmit)="onUploadNumber(numberlistForm)">


                <div class="form-group" [ngClass]="{'has-danger': (ismsisdnError)}">
                    <label class="control-label col-md-2">Number:</label>
                    <div class="col-md-6">
                        <input class="form-control" autocomplete="off" #nameRef="ngModel" required="required" [(ngModel)]="msisdn" type="text" name="manualNumber" placeholder="e.g.94777333100,94777333105 (Comma seperated entries)">&nbsp;
                        <span class="error" *ngIf="ismsisdnError">{{msisdnError}}</span>
                    </div>
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus-sign"> ADD</span>
                    </button>
                </div>


            </form>


            <br><br>

            <app-blacklist-list [datasource]="blackListList" [apiId]="id" (onDeleteTask)="onDeleteHandler($event, id)">
            </app-blacklist-list>


        </div>
    </div>
</div>