<div class="animated fadeInUp" style="animation-delay: 0.1s">

    <div class="row">
        <div class="col-lg-12">
            <!--Form Container - START-->
            <div class="form-container tokenInputContainer">
                <div class="tbl-header">
                    Add Token
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="col-sm-12">
                            <legend>Access Token</legend>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form-horizontal" #addAccessTokenForm="ngForm" novalidate
                                          (ngSubmit)="accesstokenFormSubmit(addAccessTokenForm,'AccessToken')"
                                          autocomplete="off">

                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Token</label>
                                            <div class="col-sm-6 ">
                                                <input type="text"
                                                       class="form-control"
                                                       [(ngModel)]="accesstokenName"
                                                       placeholder="Enter Token detail"
                                                       name="token"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Validity (Ms)</label>
                                            <div class="col-sm-6">
                                                <input type="number"
                                                       class="form-control"
                                                       placeholder="MCC (Mobile Country Code)"
                                                       [(ngModel)]="accessValidity"
                                                       name="accessValidity"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label col-sm-4">Created </label>
                                            <div class="col-sm-6">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Enter created details"
                                                       [(ngModel)]="accesscreated"
                                                       name="accessValidity"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label col-sm-4">Token endpoint URL </label>
                                            <div class="col-sm-6">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Enter endpoint url"
                                                       [(ngModel)]="accessendpoint"
                                                       name="accessValidity"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-4">
                                                <br>
                                                <button type="submit" class="btn btn-primary animated fadeIn"
                                                        [(disabled)]="!addAccessTokenForm.valid">
                                                    Add
                                                </button>&nbsp;
                                                <a class="btn btn-warning" (click)="addAccessTokenForm.reset();">Clear</a>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset class="col-sm-12">
                            <legend>Refresh Token</legend>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form-horizontal" #addRefreshTokenForm="ngForm" novalidate
                                          (ngSubmit)="refreshTokenFormSubmit(addRefreshTokenForm, 'RefreshToken')"
                                          autocomplete="off">

                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Token</label>
                                            <div class="col-sm-6 ">
                                                <input type="text"
                                                       class="form-control"
                                                       [(ngModel)]="refershtokenName"
                                                       placeholder="Enter Token detail"
                                                       name="refreshtoken"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Validity (Ms)</label>
                                            <div class="col-sm-6">
                                                <input type="number"
                                                       class="form-control"
                                                       placeholder="MCC (Mobile Country Code)"
                                                       [(ngModel)]="refreshValidity"
                                                       name="refreshValidity"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label col-sm-4">Created </label>
                                            <div class="col-sm-6">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Enter created details"
                                                       [(ngModel)]="refreshcreated"
                                                       name="refreshcreated"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label col-sm-4">Token endpoint URL </label>
                                            <div class="col-sm-6">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Enter endpoint url"
                                                       [(ngModel)]="refreshendpoint"
                                                       name="refreshendpoint"
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-4">
                                                <br>
                                                <button type="submit" class="btn btn-primary animated fadeIn"
                                                        [(disabled)]="!addRefreshTokenForm.valid">
                                                    Add
                                                </button>&nbsp;
                                                <a class="btn btn-warning" (click)="addRefreshTokenForm.reset()">Clear</a>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <br>

                    <div class="col-sm-12">
                        <app-common-data-table [dataSource]="tokendata" [fieldSet]="tokenFieldSet">
                            <template #dynamicCellContent let-item="element">
                                <div style="text-align: right">
                                    <span tooltip="Edit" class="action  material-icons">border_color</span>

                                    <span tooltip="Delete" class="action  material-icons">delete</span>
                                </div>
                            </template>
                        </app-common-data-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>