<div class="animated fadeInUp row" style="animation-delay: 0.1s">
    <div class="col-sm-12">
        <!--Form Container - START-->
        <div class="form-container assignRateContainer">
            <div class="tbl-header">
                Assign Rate
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <form class="form-horizontal"#rateAssignForm="ngForm" novalidate
                          (ngSubmit)="onRateAssigSubmition(rateAssignForm)">

                        <div class="form-group">
                            <label class="control-label col-sm-2">API</label>
                            <div class="col-sm-6">
                                <input [(ngModel)]="api"
                                       [typeahead]="apiList"
                                       [typeaheadMinLength]="0"
                                       placeholder="Select API"
                                       name="typeapi"
                                       class="form-control"
                                       (typeaheadOnSelect)="onApiSelected()"
                                       (input)="onApiSelected()"
                                       required>
                                <span class="error" *ngIf="invalidApi">Invalid API</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">APIOperation</label>
                            <div class="col-sm-6">
                                <input [(ngModel)]="apiOperation"
                                       [typeahead]="apiOperationList"
                                       [typeaheadMinLength]="0"
                                       placeholder="Select API Operation"
                                       name="typeapioperation"
                                       class="form-control"
                                       (typeaheadOnSelect)="onApiOperationSelected()"
                                       (input)="onApiOperationSelected()"
                                       typeaheadOptionField="apiOperation"
                                       required>
                                <span class="error" *ngIf="invalidApiOperation">Invalid API Operation</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Operator</label>
                            <div class="col-sm-6">
                                <input [(ngModel)]="operator"
                                       [typeahead]="operatorList"
                                       [typeaheadMinLength]="0"
                                       placeholder="Select Operator"
                                       name="typeoperator"
                                       class="form-control"
                                       (typeaheadOnSelect)="onOperatorSelected()"
                                       (input)="onOperatorSelected()"
                                       typeaheadOptionField="operatorName"
                                       required>
                                <span class="error" *ngIf="invalidOperator">Invalid Operator</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-sm-2">Assign new Rates</label>
                            <div class="col-sm-8">
                                <tabset>
                                    <br>
                                    <tab heading='Assign new rate'> <dual-list
                                            [source]="sourceList"
                                            [destination]="destinationList"
                                            [display]="display"
                                            [key] = "key"
                                            [format] = "format"
                                    ></dual-list></tab>
                                    <tab>
                                        <template tabHeading>Already Assigned rates</template>
                                        <h3 class="norateMessage" *ngIf="this.assignedList.length == 0">No Rate Assigned</h3>
                                        <ul *ngIf="this.assignedList.length != 0">
                                            <li *ngFor="let assignrate of this.assignedList">
                                                {{ assignrate.rateDefName }}
                                            </li>
                                        </ul>

                                    </tab>
                                </tabset>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary animated fadeIn">Assign</button>&nbsp;
                                <a class="btn btn-warning" (click)="reloadPage()">Clear</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>