/* You can add global styles to this file, and also import other style files */

@import "colors";
@import "form-controlls";
@import "animations";
@import "bootstrap_overides";

html,body{
  width: 100%;
  left: 0;
  top: 0;
  bottom:0;
}

body *{
  font-family: 'Open Sans', sans-serif;
}

input,button{
  border-radius: 0!important;
}

.form-control{
  box-shadow: none!important;
  outline: 0!important;
  padding: 6px 12px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:focus{
    border: 1px solid #c3ccda;
  }
}


.btn{
  margin-top: 1px;
  font-weight: 600;
  padding: 10px 20px!important;
  outline: 0!important;
  box-shadow: none!important;
}

.spinner-container{
  margin-top: 50%;
  min-height: 100%;

  .spinner{
    margin: auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -25px;

    &>div{
      background-color: $accent-color;
    }
  }
}



