<div class="animated fadeInUp row" style="animation-delay: 0.1s">
    <div class="col-sm-12">
        <!--Form Container - START-->
        <div class="form-container quotaInputContainer">
            <div class="tbl-header">
                <h3>Assign quota cap </h3>
                <br> <br>
            </div>


            <div class="searchFilter">

                <div class="col-sm-3">
                    <input type="text"
                           class="form-control"
                           placeholder="NB">
                </div>

                <div class="col-sm-3 ">
                    <input type="text"
                           class="form-control"
                           [(ngModel)]="subscriber"
                           [typeahead]="subscriberList"
                           [typeaheadMinLength]="0"
                           typeaheadOptionField="id"
                           (typeaheadOnSelect)="onSubscriberSelected($event)"
                           placeholder="Operator"
                    >
                </div>
                <div class="col-sm-3">
                    <input type="text"
                           class="form-control"
                           [(ngModel)]="app"
                           [typeaheadMinLength]="0"
                           container="body"
                           [typeahead]="applicationList"
                           typeaheadOptionField="id"
                           (typeaheadOnSelect)="onAppSelected($event)"
                           placeholder="Select Application"
                    >
                </div>
                <div class="col-sm-3">
                    <input [(ngModel)]="api"
                           [typeaheadMinLength]="0"
                           container="body"
                           [typeahead]="apiList"
                           typeaheadOptionField="id"
                           (typeaheadOnSelect)="onApiSelected($event)"
                           class="form-control"
                           placeholder="Select API">
                </div>
            </div>

            <form class="form-horizontal" #quotacapForm="ngForm" novalidate
                  (ngSubmit)="onquotacapFormSubmit(quotacapForm)">
                <div class="form-group">
                    <br><br>
                    <label class="control-label col-sm-2">Quota Value</label>
                    <div class="col-sm-4">
                        <input class="form-control"
                               type="text"
                               autocomplete="off"
                               placeholder="Enter Quota Value"
                               name="name"
                               #nameRef="ngModel"
                               required
                               [(ngModel)]="quotaInputValue"
                               [(disabled)]="is_edit"
                        >
                        <span class="error" *ngIf="isNameEmpty">Quota value can not be empty</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Validity period</label>
                    <div class="col-sm-4">
                        <ngx-daterangepicker (ngModelChange)="getpickval=$event" [(ngModel)]="datepickvalue" [options]="options" name="datepicker"></ngx-daterangepicker>
                    </div>
                    <label ng-change="getpickval()">{{ datepickvalue}}</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <br> <br>
                        <button type="submit" class="btn btn-success" [(disabled)]="is_edit">Add</button>&nbsp;
                        <button type="reset" class="btn btn-warning">Cancel</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>