<!--<div class="animated fadeInUp row">-->

    <!--<div class="col-sm-12">-->
        <!--&lt;!&ndash;Form Container - START&ndash;&gt;-->
        <!--<div class="form-container rateInputContainer">-->
            <!--<div class="tbl-header">-->
                <!--Rate Definitions-->
            <!--</div>-->
            <!--<div class="searchFilter">-->
                <!--<div class="col-sm-4">-->
                    <!--<input type="text" class="form-control"-->
                           <!--[(ngModel)]="selectedRate"-->
                           <!--[typeaheadMinLength]="0"-->
                           <!--container="body"-->
                           <!--[typeahead]="rateDefNames"-->
                           <!--typeaheadOptionField="apiId"-->
                           <!--(typeaheadOnSelect)="onRateSelected($event)"-->
                           <!--placeholder="Select the Rate">-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="animated fadeInUp row" style="animation-delay: 0.1s">
    <div class="col-sm-12">
        <div class="form-container quotaInputContainer">
            <div class="tbl-header">
                Rate Definitions
                <br>
            </div>
            <div class="searchFilter">
                <div class="col-sm-4">
                    <input type="text" class="form-control"
                           [(ngModel)]="selectedRate"
                           [typeaheadMinLength]="0"
                           container="body"
                           [typeahead]="rateDefNames"
                           typeaheadOptionField="apiId"
                           (typeaheadOnSelect)="onRateSelected($event)"
                           placeholder="Select the Rate">
                </div>

            </div>

            <div *ngIf="showRateDef">
                <label>Name: {{rateDefinition.rateDefName}}</label><br>
                <label>Description: {{rateDefinition.rateDefDescription}}</label><br>
                <label>Currency : {{rateDefinition.currency.currencyCode}}</label><br>
                <label>Rate Type: {{rateDefinition.rateType.rateTypeCode}}</label><br>
                <label>Tariff: {{rateDefinition.tariff.tariffName}}</label>
            </div>


        </div>
    </div>
</div>