<div class="table-wrapper">

    <!--    When user with Publisher role is Logged in, This will show Subscription details-->

    <div class="filter-container" [ngClass]="{'open':isSubFilterVisible}">
        <div class="content animated fadeInUp delay-02" *ngIf="isSubFilterVisible">
            <div class="head">Subscription History Filter<span class="clear" (click)="onSubsClear()">Clear All</span></div>
            <div class="row">
                <div class="form-group col-xs-8">
                    <input type="text"
                           [(ngModel)]="filterSubString"
                           container="body"
                           class="form-control" placeholder="Filter Subscription Approval History">
                </div>
                <div class="form-group col-xs-4">
                    <button (click)="onSubFilterItemAdded()" class="btn btn-primary">Search</button>
                    &nbsp;
                    <span
                            class="glyphicon glyphicon-info-sign info-tooltip info-tooltip-view"
                            [tooltip]="SubsFilterHelper" placement="right"
                    ></span>

                </div>
            </div>
        </div>
    </div>

    <template #SubsFilterHelper>
        <table style="width:100%;text-align: left; padding: 20px;">
            <tr>
                <td>Subscription Approval Filter Example</td>
            </tr>
            <tr>
                <td>subId:id,api:name,app:name,created</td>
            </tr>
        </table>
    </template>

    <div class="table">
        <div class="tbl-row header">
            <div class="tbl-cell">Subscription Id</div>
            <div class="tbl-cell">Tier</div>
            <div class="tbl-cell">Api Id</div>
            <div class="tbl-cell">Api Name</div>
            <div class="tbl-cell">Application Id</div>
            <div class="tbl-cell">Application Name</div>
            <div class="tbl-cell">Subscription Status</div>
            <div class="tbl-cell">Created By</div>
        </div>
        <div class="tbl-row" *ngFor="let sub of subscriptionDataSource">
            <div class="tbl-cell">{{sub.subscriptionId}}</div>
            <div class="tbl-cell">{{sub.tier}}</div>
            <div class="tbl-cell">{{sub.apiId}}</div>
            <div class="tbl-cell">{{sub.apiName}}</div>
            <div class="tbl-cell">{{sub.applicationId}}</div>
            <div class="tbl-cell">{{sub.applicationName}}</div>
            <div class="tbl-cell">{{sub.subscriptionStatus}}</div>
            <div class="tbl-cell">{{sub.createdBy}}</div>
        </div>
        <div class="no-rec-row tbl-row" *ngIf="subscriptionDataSource.length == 0">
            <span class="no-rec">No Records...</span>
        </div>
    </div>
</div>
