<div class="animated fadeInUp">
 <div class="row">
   <div class="col-sm-6">
       <subscription-data-table
               class="my"
               [filter]="mySubscriptionFilter"
               tableTitle="SUBSCRIPTION CREATIONS"
               [dataSource]="mySubscriptions"
               [isSubscription]="true"
               (onApproveRejectTask)="onApproveRejectHandler($event)"
               (onFilterChange)="onFilterChangeHandler($event)"></subscription-data-table>
   </div>
   <div class="col-sm-6">
       <subscription-data-table
               class="group"
               [filter]="groupSubscriptionFilter"
               tableTitle="SUBSCRIPTION CREATIONS"
               [isSubscription]="true"
               [isSubscriptionOnly]="true"
               [dataSource]="allSubscriptions"
               (onAssignTask)="onAssignTaskHandler($event)"
               (onFilterChange)="onFilterChangeHandler($event)"></subscription-data-table>
   </div>
 </div>
</div>

