<div class="animated fadeInUp">
 <div class="row">
   <div class="col-sm-6">
       <application-data-table
               class="my"
               [recordsType]="{dataCategory:'USER',dataType:'SUBSCRIPTION'}"
               tableTitle="SUBSCRIPTION CREATIONS"
               [dataSource]="mySubscriptions"
               (onApproveRejectTask)="onApproveRejectHandler($event)"
               (onFilterChange)="onFilterChangeHandler($event)"></application-data-table>
   </div>
   <div class="col-sm-6">
       <application-data-table
               [recordsType]="{dataCategory:'GROUP',dataType:'SUBSCRIPTION'}"
               tableTitle="SUBSCRIPTION CREATIONS"
               [dataSource]="allSubscriptions"
               (onAssignTask)="onAssignTaskHandler($event)"
               (onFilterChange)="onFilterChangeHandler($event)"></application-data-table>
   </div>
 </div>
</div>

