<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <h4 class="text-success text-center">Number is exist in the list</h4>
                <div>
                    <div class="table">
                        <div class="tbl-row header">
                            <div class="tbl-cell">MSISDN</div>
                            <div class="tbl-cell text-right pad-r-15-im">Action</div>
                        </div>

                        <div class="tbl-row">
                            <div class="tbl-cell">{{datasource}}</div>
                            <div class="tbl-cell text-right">
                                <button class="btn btn-danger" (click)="onDelete(datasource, selcetedAppId.toString(), apiId.toString(),spName.toString())"><i
                                        class="material-icons">delete</i></button>
                            </div>
                        </div>

                        <div class="no-rec-row tbl-row" *ngIf="datasource == null">
                            <span class="no-rec">No Records..</span>
                        </div>
                        <br><br><br>
                    </div>
                </div>
                <!--TABLE END-->

            </div>
        </div>
    </div>
</div>