<div class="animated fadeInUp row" style="animation-delay: 0.1s">
    <div class="col-sm-12">
        <div class="card card-block card-header">
            <div class="form-container quotaInputContainer">
                <!--  <div class="tbl-header">
                    Edit Subscription
                </div> -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="searchFilter">
                                <div [ngClass]="{'col-sm-6': !issubscriptionEnabled,'col-sm-4': issubscriptionEnabled}">
                                    <input [(ngModel)]="subscriber" [typeahead]="subscriberList"
                                        typeaheadOptionField="name" [typeaheadMinLength]="0" type="text"
                                        class="form-control" autocomplete="off"
                                        (typeaheadOnSelect)="onSubscriberSelected()" (input)="onSubscriberSelected()"
                                        placeholder="Service provider" name="subscription">
                                </div>
                                <div [ngClass]="{'col-sm-6': !issubscriptionEnabled,'col-sm-4': issubscriptionEnabled}">
                                    <input [(ngModel)]="app" [typeahead]="applications" [typeaheadMinLength]="0"
                                        type="text" class="form-control" autocomplete="off"
                                        (typeaheadOnSelect)="onAppSelected()" (input)="onAppSelected()"
                                        typeaheadOptionField="name" placeholder="Application" name="app">
                                </div>
                                <div class="col-sm-4" *ngIf="issubscriptionEnabled">
                                    <input [(ngModel)]="api" [typeaheadMinLength]="0"
                                        (typeaheadOnSelect)="onApiSelected()" (input)="onApiSelected()" container="body"
                                        [typeahead]="apiList" typeaheadOptionField="id" class="form-control"
                                        autocomplete="off" name="api" placeholder="Select API">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12">
                        <tabset [justified]="true" #staticTabs>
                            <tab heading="Application Details" customClass="appTab" *ngIf="isappEnabled">
                                <div class="content-div" *ngIf="applications.length < 1">
                                    <span class="glyphicon glyphicon-th-list center-block quarterwidth noApiSet">
                                        <br>
                                    </span>
                                    <h4 class="center-block halfwidth text-center">Select the Service
                                        Provider and Application to edit tiers</h4>
                                </div>
                                <div class="col-sm-12" *ngIf="applications.length >= 1">
                                    <app-common-data-table [dataSource]="applicationSubscriptions"
                                        [fieldSet]="appfieldSet">
                                        <template #dynamicCellContent let-item="element">
                                            <div>
                                                <span *ngIf="item.approvalStatus == 'APPROVED'"
                                                    tooltip="Edit Tier or Show More Details"
                                                    class="action  material-icons"
                                                    (click)="onIconClick(item,'EDIT_APP_TIER')">mode_edit</span>
                                                <span tooltip="Show More Details"
                                                    *ngIf="item.approvalStatus != 'APPROVED'"
                                                    class="action  material-icons"
                                                    (click)="onIconClick(item,'SHOW_APP')">dvr</span>
                                            </div>
                                        </template>
                                    </app-common-data-table>
                                    <div class=" text-center">
                                        <pagination [boundaryLinks]="true" [totalItems]="totalItems"
                                            [(ngModel)]="currentPage" [maxSize]="5"
                                            (pageChanged)="onPageChanged($event)" class="pagination-sm"
                                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                            lastText="&raquo;"></pagination>
                                    </div>
                                </div>

                            </tab>
                            <tab heading="Subscription Details" customClass="subTab" *ngIf="issubscriptionEnabled">
                                <div class="content-div" *ngIf="!isApiSelect">
                                    <span class="glyphicon glyphicon-th-list center-block quarterwidth noApiSet">
                                        <br>
                                    </span>
                                    <h4 class="center-block halfwidth text-center">Select the Service
                                        Provider, Application and API to edit tiers</h4>
                                </div>
                                <div class="col-sm-12" *ngIf="isApiSelect">
                                    <app-common-data-table [dataSource]="subscriptions"
                                        [fieldSet]="subscriptionfieldSet">
                                        <template #dynamicCellContent let-item="element">
                                            <div>
                                                <span tooltip="Show More Details"
                                                    *ngIf="item.approvalStatus != 'Approved'"
                                                    class="action  material-icons"
                                                    (click)="onIconClick(item,'SHOW')">dvr</span>

                                                <span *ngIf="item.approvalStatus == 'Approved'"
                                                    tooltip="Edit Tier or Show More Details"
                                                    class="action  material-icons"
                                                    (click)="onIconClick(item,'EDIT_SUB_TIER')">mode_edit</span>
                                            </div>
                                        </template>
                                    </app-common-data-table>
                                    <div class="col-sm-12 text-center">
                                        <pagination [boundaryLinks]="true" [totalItems]="totalItems"
                                            [(ngModel)]="currentPage" [maxSize]="5"
                                            (pageChanged)="onPageChanged($event)" class="pagination-sm"
                                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                            lastText="&raquo;"></pagination>
                                    </div>
                                </div>

                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-----Edit tier action from Popup view ------>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" *ngIf="tierAction == 'EDIT_SUB_TIER';">Edit Tier of
                    {{editsubTierParam?.apiName}}</h4>
                <h4 class="modal-title pull-left" *ngIf="tierAction == 'EDIT_APP_TIER';">Edit Tier of
                    {{editappTierParam?.applicationName}}</h4>
                <h4 class="modal-title pull-left" *ngIf="tierAction != 'EDIT_SUB_TIER' && tierAction != 'EDIT_APP_TIER';"> Full details</h4>
            </div>
            <div class="modal-body">

                <app-tier-edit [tierAction]="tierAction" [editAppTierParam]="editappTierParam"
                    [editSubTierParam]="editsubTierParam" (modalClose)="lgModal.hide();updateList();"></app-tier-edit>

            </div>
        </div>
    </div>
</div>