<div class="animated fadeInUp row">
    <div class="col-sm-12" *ngIf="show">
        <h3> Application - {{ applicationDetail.name }} </h3>
        <div class="span6">
            <table cellspacing="0" cellpadding="0" class="table">
                <tbody>
                <tr>
                    <th>Application Status:</th>
                    <td colspan="2"> {{ applicationDetail.status }}</td>
                </tr>
                <tr>
                    <th>OPERATOR:</th>
                    <td colspan="2"></td>
                </tr>
                <tr *ngFor="let opt of applicationDetail.operatorApprovals; let i=index">
                    <td>{{ applicationDetail.operatorApprovals[i]?.operatorName }}</td>
                    <td colspan="2">{{ applicationDetail.operatorApprovals[i]?.approvalStatus }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="span4 appStyleFix"></div>
        <div class="span12 tabs-section">

            <div class="ui-tab" *ngIf="applicationDetail?.subscriptions">

                <ul class="nav nav-tabs all-tabs">
                    <li class="first active"><a>Subscribed APIs</a>
                    </li>
                </ul>

                <div class="tab-content" *ngFor="let opt of applicationDetail.subscriptions; let i=index">

                    <div class="tab-pane active">

                        <div id="overview">

                            <h5>
                                <span><b>Name : </b></span> {{ applicationDetail?.subscriptions[i]?.name }}
                                -
                                {{ applicationDetail?.subscriptions[i]?.version }} &nbsp;&nbsp;
                                <span><b>Tier : </b></span> [{{ applicationDetail?.subscriptions[i]?.tier }}] &nbsp;&nbsp;
                                <span><b>Subscription : </b></span> -
                                <span style="font-weight: normal">{{ applicationDetail?.subscriptions[i]?.adminApprovalStatus }}</span>
                            </h5>

                            <div class="content-section shadow-up">

                                <div class="content-data">

                                    <div></div>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Operator</th>
                                            <th>Status</th>
                                            <th class="date-time-col">Last Updated</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr *ngFor="let opt of operatorApprovals; let x=index">
                                            <td> {{
                                                applicationDetail?.subscriptions[i]?.operatorApprovals[x]?.operatorName
                                                }}
                                            </td>
                                            <td>{{
                                                applicationDetail?.subscriptions[i]?.operatorApprovals[x]?.approvalStatus
                                                }}
                                            </td>
                                            <td> {{ applicationDetail?.subscriptions[i]?.lastUpdated }}</td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>