/*.currencyContainer{
  background-color: #32c5d2;
  padding: 5px;
  font-size: 15px;
  margin: 10px;
}

.btn{
  margin: 5px;
} */

.error {
  font-size: 0.9em;
  color: #f96565;
}

.btn{ border-radius: 0px !important;}

.control-label span { color: #dd0d0d;}

.nospace {margin-bottom: 5px !important;}