<div class="animated fadeInUp" style="animation-delay: 0.1s">

    <div class="row">
        <div class="col-lg-12">
            <div class="form-container currencyContainer">
                <form #payloadForm="ngForm" class="form-horizontal" autocomplete="off" novalidate
                    (ngSubmit)="onAdditionalValueSubmit(payloadForm)">

                    <div class="form-group">
                        <label class="control-label col-sm-3">Environment <span>*</span></label>
                        <div class="col-sm-6">
                            <div class="btn-group" btnRadioGroup>
                                <input type="radio" name="env" [(ngModel)]="selectedEnv" value="production" />
                                Production &nbsp;
                                <input type="radio" name="env" [(ngModel)]="selectedEnv" value="sandbox" /> Sandbox
                            </div>

                        </div>
                    </div>

                    <div class="form-group" *ngIf="httpTypes != 'GET' && httpTypes != 'HEAD'">
                        <label class="control-label col-sm-3">Payload Body</label>
                        <div class="col-sm-6">
                            <textarea rows="6" cols="200" class="form-control" type="text" autocomplete="off"
                                placeholder='{"payload": "string"}' [(ngModel)]="payloadDesc" name="payloadBody">
                             </textarea>
                        </div>
                        <div class="col-sm-2">
                            <span class="glyphicon glyphicon-info-sign info-tooltip"
                                tooltip="PS: Payload body will not be considered when filtering responses."
                                placement="right"></span>
                        </div>
                    </div>

                    <div *ngFor="let pathParam of pathParams;let first = first; let last = last;" class="form-group"
                        [class.nospace]="!last">
                        <label class="control-label col-sm-3">
                            <div *ngIf="first">Path Params <span>*</span></div>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" [(ngModel)]="pathParamVal[pathParam]" name="pathparam"
                                placeholder=' {{pathParam}}' style="min-width: 550px !important; padding: 2px;" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Query Params</label>
                        <div class="col-sm-6">
                            <input type="text" [(ngModel)]="urlParamDesc" name="queryparam"
                                placeholder=' Eg: ?color=brown&condition=new'
                                style="min-width: 444px !important; padding: 2px;" />

                        </div>
                        <div class="col-sm-2">
                            <span class="glyphicon glyphicon-info-sign info-tooltip"
                                tooltip="PS: Query Parameters will not be considered when filtering responses. "
                                placement="right"></span>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary animated fadeIn">Execute</button>
                            &nbsp;
                            <a class="btn btn-warning" (click)="clearForm()">Clear</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>