:host {
  display: block;
  margin-top: 20px;
}

.content-div {
  background-color: #ffffff;
}

.tbl-header {
  color: #E19131;
}

.rateInputContainer {
  min-height: 100px;
  padding: 10px;
  background-color: white;
  border: solid 1px whitesmoke;

  .fields-container {
    div[class^="col-"] {
      padding-bottom: 10px;
    }
  }

  .title {
    font-size: 1.2em;
    font-weight: 600;
    color: gray;
    padding-bottom: 5px;
  }
}

.rateForm {

  input {
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;

    &:focus {
      border: 1px solid #c3ccda;
    }
  }
}

.error {
  font-size: 0.9em;
  color: #f96565;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.info-tooltip {
  font-size: 1.5em;
  color: #8E44AD;
  vertical-align: top;
  margin-top: 0.3em;
  cursor: pointer;
}

.info-tooltip-view {
  margin-top: 0em !important;
  margin-left: 0.5em;
}

.modal {
  top: 10%;
  outline: none;
}

.tbl-header {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.3em;
  padding: 5px 0px 15px;
  color: #E19131;
  text-transform: uppercase;
}

.has-danger .form-control{
  border-color: #d9534f;
  color: #d9534f;
}

.btn{ border-radius: 0px !important;}


.searchFilter {
  min-height: 78px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: var(--accent-color);
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #ffffff;
}

.searchFilter {
  div[class^="col-"] {
    padding-bottom: 10px;
  }
}

.control-label span { color: #dd0d0d;}

.btnContainer{ margin-top:2%;}

.control-label {text-align: right;}

.noreteselect{ margin-left: 10%; margin-top: 5%; margin-bottom: 5%; color: #343a40;}

.noreteselect i{ font-size: 50px; color: #E19131;}

.viewListForm .control-label{ padding-top: 0px !important;}

.sub-control-label{ color: #9a9a9a;}


.table {
  display: table;
  width: 100%;

  @media only screen and (max-width: 768px) {
    // display: block;
  }

  .tbl-row {
    display: table-row;
    background-color: #f6f6f6;
    height: 0px;

    &:nth-of-type(odd) {
      background-color: white;
    }

    &.header {
      background-color: #7788aa;
      font-weight: 600;
      color: white;
    }

    @media only screen and (max-width: 768px) {
      // display: block;
    }

    .tbl-cell {
      display: table-cell;
      padding: 10px 10px;
      @media only screen and (max-width: 768px) {
        //  display: block;
      }
    }

    &.modified {
      background-color: #ffffcc;
    }

    &.open {
      height: 158px;
      background-color: #f4f2c9;

      .action {
        border-color: black;
        color : black;
      }

      &.A,&.R{
        height: 243px;
      }
    }

    .more-con{
      padding:10px 0px 10px 0px;
      background-color: #7a8ca5;
      position: absolute;
      left: 10px;
      right: 11px;
      height: 105px;
      margin-top: 53px;
      border:solid 1px #d0d0d0;

      &.A,&.R{
        height: 190px;
      }

      .more-row{
        margin-bottom: 2px;
      }

      .field-name{
        height: 40px;
        background-color: #9a9a9a;
        line-height: 40px;
        text-align: right;
        font-weight: 600;
      }

      .field-value{
        height: 40px;
        background-color: white;
        line-height: 40px;
      }

      select,input{
        margin-top: 2px;
      }

      .btn{
        margin-top: 10px;
        padding-top: 5px!important;
        padding-bottom: 5px !important;
      }
    }

  }

  .no-rec-row {
    position: relative;

    .no-rec {
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      width: 100px;
      padding-top: 15px;
      color: #9a9a9a;
    }
  }

  .fromcolor{
    color: #2f9e44;
  }

  .tocolor{
    color: #dd0d0d;
  }
}

.open>.dropdown-menu {
  display: block;
  height: 100px;
  overflow-y: scroll;
}

.tariff_des{ font-size: 9px !important;}

.tariffdropname{color:#660066 }