.idea
.settings
/dist/
/ui/node_modules/
/ui/npm-debug.log
ui/npm-debug.log
/ui/server
.vscode
target
ui/angular-cli.json
src/main/resources/generated
.project
com.wso2telco.dep.manage-service.feature/com.wso2telco.dep.manage-service.feature.iml
