<div class="section" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tbl-header">
                    <h5>Subscriber list</h5>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>MSISDN</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <ng-container *ngFor="let item of datasource">
                        <tr >
                            <td>{{item.replace('tel3A+','')}}</td>
                            <td><button class="btn btn-danger" (click)="onDelete(item.replace('tel3A+',''), apiId.toString())"><i class="material-icons">delete</i></button></td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>