<ul *ngIf="isAdmin" [ngClass]="{'is-expand':isExpand}">
  <li *ngFor="let menu of menuSourceIfAdmin"
       (click)="onClick(menu)"
  [ngClass]="{'selected':menu.id==selectedMenu?.id}" class="{{menu.position}}"><span class="icon material-icons">{{menu.iconName}}</span>
  <span class="menu-name animated fadeIn" *ngIf="isExpand">{{menu.name}}</span>
  </li>
 </ul>
<ul *ngIf="!isAdmin" [ngClass]="{'is-expand':isExpand}">
    <li *ngFor="let menu of menuSourceIfOp"
        (click)="onClick(menu)"
        [ngClass]="{'selected':menu.id==selectedMenu?.id}" class="{{menu.position}}"><span class="icon material-icons">{{menu.iconName}}</span>
        <span class="menu-name animated fadeIn" *ngIf="isExpand">{{menu.name}}</span>
    </li>
</ul>
