<div class="row">
  <div class="col-sm-6">
    <canvas baseChart
            [datasets]="barChartDataApplications"
            [labels]="barChartLabels"
            [options]="barChartOptionsSubscriptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>
  <div class="col-sm-6">
    <canvas baseChart
            [datasets]="barChartDataApplications"
            [labels]="barChartLabels"
            [options]="barChartOptionsApplications"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>
</div>


