<div class="history-filter">

    <div class="row fields-container">
        <div class="col-md-3">
            <input type="text" class="form-control" [(ngModel)]="filter.subscriber" [typeaheadMinLength]="0" [typeahead]="subscribers" (typeaheadOnSelect)="onSubscriberChange()" placeholder="Service Provider">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" [(ngModel)]="selectedApplication" [typeaheadMinLength]="0" typeaheadOptionField="name" [typeahead]="applications" (typeaheadOnSelect)="onApplicationChange($event)" placeholder="Application">
        </div>
        <div class="col-md-3" *ngIf="isAdmin">
            <input type="text" class="form-control" [(ngModel)]="filter.operator" [typeaheadMinLength]="0" [typeahead]="operators" (typeaheadOnSelect)="onOperatorChange()" placeholder="Operator">
        </div>
        <div class="col-md-3">
            <button class="btn btn-default " (click)="onClearFilter()">Clear</button>
        </div>
    </div>
</div>