<div class="animated fadeInUp" style="animation-delay: 0.1s">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-container tariffContainer">
                <form #addTaxForm="ngForm" class="form-horizontal" ngNoForm (ngSubmit)="onSubmit(addTaxForm)" autocomplete="off">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Tax Code <span>*</span></label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="text"
                                           autocomplete="off"
                                           placeholder="Tax Code"
                                           name="code"
                                           #nameRef="ngModel"
                                           required
                                           [(ngModel)]="tax.taxCode"
                                           (input)="isCodeUnique($event.target.value)">
                                    <span class="error" *ngIf="isCodeError">{{codeError}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Tax Name <span>*</span></label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="text"
                                           autocomplete="off"
                                           placeholder="Tax Name"
                                           name="name"
                                           #nameRef="ngModel"
                                           required
                                           [(ngModel)]="tax.taxName"
                                           (input)="isNameUnique($event.target.value)">
                                    <span class="error" *ngIf="isNameError">{{nameError}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Tax Value <span>*</span></label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           type="number"
                                           autocomplete="off"
                                           placeholder="Tax Value"
                                           name="value"
                                           min="0"
                                           #nameRef="ngModel"
                                           oninput="this.value = Math.abs(this.value)"
                                           required
                                           [(ngModel)]="taxValue">
                                    <span class="error" *ngIf="isvalueError">{{valueError}}</span>
                                </div>
                                <i class="fa fa-percent "></i>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Validity period <span>*</span></label>
                                <div class="col-sm-8">
                                    <my-date-range-picker name="mydaterange"
                                                          [options]="myDateRangePickerOptions"
                                                          [(ngModel)]="defaultcalval"
                                                          name="rangecal"
                                                          (dateRangeChanged)="onDateRangeChanged($event)"
                                                          required
                                                          [(disabled)]="isCalenderEnable"
                                    ></my-date-range-picker>
                                </div>
                                <span class="error col-sm-offset-4 col-sm-8"
                                      *ngIf="isdateError">{{dateError}}</span>
                            </div>

                        <div class="form-group" *ngIf="!isNameError && !isCodeError">
                        <div class="col-sm-offset-2 col-sm-1">
                            <button type="submit" class="btn btn-primary animated fadeIn">Add</button>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-warning" (click)="clearForm()" >Clear</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



