<div class="col-sm-12">
    <h3>APIwise BlackList </h3>

    <div>
        <input type="text" class="form-control"
               [(ngModel)]="api"
               [typeaheadMinLength]="0"
               container="body"
               [typeahead]="apiList"
               typeaheadOptionField="apiId"
               (typeaheadOnSelect)="onApiSelected($event)"
               placeholder="Id">
    </div>

    <br><br>
    <form class="form-horizontal" #numberlistForm="ngForm" novalidate
          (ngSubmit)="onUploadNumber(numberlistForm)">


        <h5>BlackList subscribers {{ count }}</h5>

        <div class="form-group">
            <label class="control-label col-sm-3">Number:</label>
            <div class="col-sm-6">
                <input class="form-control"
                       autocomplete="off"
                       #nameRef="ngModel"
                       required="required"
                       [(ngModel)]="msisdn"
                       type="text"
                       name="manualNumber"
                       placeholder="e.g.94777333100,94777333105 (Comma seperated entries)">&nbsp;
                <span class="error" *ngIf="isDublicate">{{ dublicate }}</span>
                <span class="error" *ngIf="ismsisdnError">{{msisdnError}}</span>
                <span class="error" *ngIf="islong">{{long}}</span>

            </div>
            <button class="btn btn-primary">
                ADD
            </button>
        </div>


    </form>


    <br><br><br>

    <app-blacklist-list
            [datasource]="blackListList" [apiId]="numberId" (onDeleteTask)="onDeleteHandler($event, numberId)">
    </app-blacklist-list>


</div>