<div class="animated fadeInUp row" style="animation-delay: 0.1s">
    <div class="col-sm-12">
        <div class="card card-block card-header">
            <div class="form-container quotaInputContainer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="searchFilter">
                                <div class="col-sm-3">
                                    <input [(ngModel)]="subscriber" [typeahead]="subscriberList"
                                        typeaheadOptionField="name" [typeaheadMinLength]="0" type="text"
                                        class="form-control" autocomplete="off"
                                        (typeaheadOnSelect)="onSubscriberSelected()" (input)="onSubscriberSelected()"
                                        placeholder="Service provider" name="subscription">
                                </div>
                                <div class="col-sm-3">
                                    <input [(ngModel)]="app" [typeahead]="applications" [typeaheadMinLength]="0"
                                        type="text" class="form-control" autocomplete="off"
                                        (typeaheadOnSelect)="onAppSelected()" (input)="onAppSelected()"
                                        typeaheadOptionField="name" placeholder="Application" name="app">
                                </div>
                                <div class="col-sm-3">
                                    <input [(ngModel)]="api" [typeaheadMinLength]="0"
                                        (typeaheadOnSelect)="onApiSelected()" (input)="onApiSelected()" container="body"
                                        [typeahead]="apiList" typeaheadOptionField="id" class="form-control"
                                        autocomplete="off" name="api" placeholder="Select API">
                                </div>
                                <div class="col-sm-3">
                                    <input [(ngModel)]="enviorment" [typeaheadMinLength]="0"
                                        (typeaheadOnSelect)="onenviormentSelected()" (input)="onenviormentSelected()"
                                        container="body" [typeahead]="envList" typeaheadOptionField="httpPathCom"
                                        class="form-control" autocomplete="off" name="env"
                                        placeholder="Resource">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12">
                        <div class="content-div" *ngIf="jdata == undefined">
                            <span class="glyphicon glyphicon-th-list center-block quarterwidth noApiSet">
                                <br>
                            </span>
                            <h4 class="center-block halfwidth text-center">Select the Service
                                Provider , Application and API's to proceed</h4>
                        </div>
                        <div class="content-div">
                            <span *ngIf="jdata == ''"
                                class="glyphicon glyphicon-question-sign center-block quarterwidth noApiSet">
                                <br>
                                <h4 class="center-block halfwidth text-center">Something wrong</h4>
                            </span>
                            <p *ngIf="isFilteredOperation" class="bg-info notifyDiv"><span
                                    class=" glyphicon glyphicon-info-sign"></span> This API
                                operation already filtered. &nbsp;&nbsp; <button class="btn btn-danger"
                                    (click)="onReset()">Reset
                                </button></p>
                            <div id="jsoneditor" style="width: 100%; height: 100%;"></div>
                            <br>
                            <button (click)="getJSON();" *ngIf="jdata != undefined && jdata != ''"
                                class="btn btn-primary animated fadeIn">Save the Response</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----Getting Additonal property from Popup ------>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Additional Properties</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <app-response-filter-payload [httpTypes]="httpVerb" [pathParams]="extractPathParams(enviorment)" (onSetAdditionalParam)="onSetPayloadHandler($event)"
                    (modalClose)="lgModal.hide();"></app-response-filter-payload>

            </div>
        </div>
    </div>
</div>