<div class="form-container currencyContainer">
    <!--login form START-->
    <div class="tbl-header">
        <h5>Create New Currency Type </h5>
    </div>

    <form #currencyForm="ngForm" novalidate (ngSubmit)="onCurrencyValueSubmit(currencyForm)">

        <div class="form-group">
            <label class="control-label col-sm-3">Currency code:</label>

            <input (input)="isCurrencyCode($event.target.value)"
                   [(ngModel)]="currencycode" name="currencycode" #inputc type="text" required="required">
        </div>

        <!--Throw error if currency validator fails-->
        <div *ngIf="isValidCurrency">Not a Valid Currency Type</div>

        <div class="form-group">
            <label class="control-label col-sm-3">Currency desc:</label>
            <input [(ngModel)]="currencydesc" name="currencydesc" required="required">
        </div>

        <div class="form-group" *ngIf="!isValidCurrency">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
</div>