<div class="animated fadeInUp row" style="animation-delay: 0.1s">
    <div class="col-md-12">
        <div class="form-container quotaInputContainer">
            <div class="tbl-header">
                SPwise Blacklist
                <br>
            </div>
            <div class="searchFilter row">
                <h4 class="control-label col-md-2">Service Providers:</h4>
                <div class="col-md-4">
                    <input type="text" class="form-control" container="body" typeaheadOptionField="spId" (typeaheadOnSelect)="onApiSelected($event)" placeholder="Select a Service provider">
                </div>
                <div class="col-md-4">
                    <h4>BlackListed SP count : &nbsp; <span class="label label-info">{{ count }}</span>
                    </h4>
                </div>

            </div>

            <form class="form-horizontal" #numberlistForm="ngForm" (ngSubmit)="onUploadNumber(numberlistForm)">
                <br>
                <div class="form-group row">
                    <label class="control-label col-md-2">Selected service provider :</label>
                    <div class="col-md-6">
                        <label class="slectedlabel control-label col-md-3">No SP selected</label>
                    </div>

                </div>
                <br><br>
                <div class="form-group row">
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary animated fadeIn">
                        Add
                    </button>
                        <button type="submit" class="btn btn-warning animated fadeIn">
                        Reset
                    </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>