@import "../../../styles/colors";

subscription-data-table{
  margin-top: 20px;
}

:host /deep/ subscription-data-table.my {
  .tbl-header{
    color: var(--accent-color);
    font-weight: 900;
  }

  .header{
    background-color: var(--accent-color) !important;
  }
}
