<div class="animated fadeInUp row" style="animation-delay: 0.1s">

    <div class="col-sm-12">
        <div class="form-container whitelistInputContainer">

            <div class="tbl-header">
                <h3>Whitelist subscribers </h3>
                <br> <br>
            </div>

            <div class="searchFilter">
                <div class="col-sm-4">
                    <input [(ngModel)]="subscriber"
                           [typeahead]="subscriberList"
                           [typeaheadMinLength]="0"
                           type="text"
                           class="form-control"
                           (typeaheadOnSelect)="onSubscriberSelected($event)"
                           placeholder="Subscriber">
                </div>
                <div class="col-sm-4">
                    <input [(ngModel)]="app"
                           [typeahead]="applicationList"
                           [typeaheadMinLength]="0"
                           type="text"
                           class="form-control"
                           (typeaheadOnSelect)="onAppSelected($event)"
                           placeholder="Application">
                </div>
                <div class="col-sm-4">
                    <input [(ngModel)]="api"
                           [typeahead]="apiList"
                           [typeaheadMinLength]="0"
                           type="text"
                           class="form-control"
                           (typeaheadOnSelect)="onApiSelected($event)"
                           placeholder="Api">
                </div>
            </div>

            <div class="tbl-header">
                <h5>Numbers list configuration </h5>
            </div>

            <form class="form-horizontal" #numberlistForm="ngForm" novalidate
                  (ngSubmit)="onUploadNumber(numberlistForm)">

                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-3">Number:</label>
                    <div class="col-sm-6">
                        <input class="form-control"
                               autocomplete="off"
                               #nameRef="ngModel"
                               required
                               [(ngModel)]="msisdn"
                               type="text"
                               name="manualNumber"
                               placeholder="e.g.94777333100,94777333105 (Comma seperated entries)">&nbsp;
                        <span class="error" *ngIf="ismsisdnError">{{msisdnError}}</span>
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="addbtn">
                            <i class="material-icons">add_circle_outline</i>Add
                        </button>
                    </div>
                </div>
            </form>

            <div class="tbl-header">
                <h5>Numbers Range configuration </h5>
            </div>

            <form class="form-horizontal" #numberrangeForm="ngForm" novalidate
                  (ngSubmit)="onUploadNumberRange(numberrangeForm)">

                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-6">Min number:</label>
                    <div class="col-sm-6">
                        <input class="form-control"
                               autocomplete="off"
                               #nameRef="ngModel"
                               required
                               [(ngModel)]="msisdnMin"
                               type="number"
                               name="manualNumber">
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-6">Max number:</label>
                    <div class="col-sm-6">
                        <input class="form-control"
                               autocomplete="off"
                               #nameRef="ngModel"
                               required
                               [(ngModel)]="msisdnMax"
                               type="number"
                               name="manualNumber">
                    </div>
                </div>
                <label style="color:grey;">e.g.94777333100 to 94777333200</label>
                <span class="error" *ngIf="ismsisdnRangeError">{{msisdnRangeError}}</span>
                <div class="form-group col-sm-12">
                    <button class="btn btn-primary">
                        Upload Numbers List
                    </button>
                </div>

            </form>
        </div>

    </div>



    <div class="error-container animated bounceIn" *ngIf="submissionError">{{submissionError}}</div>
</div>

<app-whitelist-list
        [dataSource]="whitelistList"
        (onDeleteTask)="onDeleteHandler($event)"></app-whitelist-list>